# Kopieer dit bestand naar .env.local en vul je eigen Sanity-gegevens in
# Die krijg je nadat je een gratis project hebt aangemaakt op sanity.io

NEXT_PUBLIC_SANITY_PROJECT_ID=jouw_project_id
NEXT_PUBLIC_SANITY_DATASET=production
